@model Exer3.Models.Etudiant

@{
    ViewData["Title"] = "Edit";
}

<h2>Modifier un étudiant</h2>

<h4>Étudiant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="EtudiantID" class="form-control" placeholder="EtudiantID" />
                <span asp-validation-for="EtudiantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Prenom" class="form-control" placeholder="Prénom" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Nom" class="form-control" placeholder="Nom" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Courriel" class="form-control" placeholder="Courriel" />
                <span asp-validation-for="Courriel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Matricule" class="form-control" placeholder="Matricule" />
                <span asp-validation-for="Matricule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programme" class="control-label"></label>
                <select asp-for="Programme" class="form-control" name="Programmes">
                    <option value="Informatique" selected>Informatique</option>
                    <option value="Administration" selected>Administration</option>
                    <option value="Art" selected>Art</option>
                </select>
                <span asp-validation-for="Programme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Telephone" class="form-control" placeholder="Téléphone" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste d'étudiants</a>
</div>

