@{
    ViewData["Title"] = "Accueil";
}

<div class="row">
    <div class="col-md-12">
        <h2>
            Service de l'informatique <br />
            Cégep de St-Jean-sur-Richelieu
        </h2>

        <div class="content">
            <img src="\images\info.jpg">
        </div>

        <dl>
            <dt>Laboratoires</dt>
            <dd>- Rapport d'incident</dd>
            <dd>- Horaires</dd>
            <dt><a href="http://www1.cstjean.qc.ca/emploisstages">Offres d'emploi et offres ATE</a></dt>
            <dt><a href="https://cstjean.onthehub.com/">Magasin de logiciels</a></dt>
            <dt>Serveurs du département</dt>
            <dt>Tutorat</dt>
            <dd>
                <a asp-area="" asp-controller="Tutorat" asp-action="DemandeTuteur">
                    - Demander un tuteur
                </a>
            </dd>
            <dd>
                <a asp-area="" asp-controller="Tutorat" asp-action="OffrirTuteur">
                    - Offrir ses services de tuteur
                </a>
            </dd>
        </dl>
    </div>
</div>
