
@{
    ViewData["Title"] = "Nous joindre";
}

<h2>Nous joindre</h2>

<table class="table table-hover table-responsive-sm table-bordered">
    <thead>
        <tr>
            <th>Numéro de téléphone</th>
            <th>Courriel</th>
            <th>Local</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Poste 2000</td>
            <td>soutien.technique@cstjean.qc.ca</td>
            <td>A-038</td>
        </tr>
    </tbody>
</table>


