
@{
    ViewData["Title"] = "Liste des serveurs";
}

    <table class="table table-hover table-responsive-sm table-bordered">
        <thead>
            <tr>
                <th>Adresse</th>
                <th>Port</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>calypso.cstjean.qc.ca</td>
                <td></td>
                <td>Serveur web pour les projets étudiants</td>
            </tr>
            <tr>
                <td>maria.cstjean.qc.ca</td>
                <td></td>
                <td>Serveur MariaDB public</td>
            </tr>
            <tr>
                <td>csi.cstjean.qc.ca</td>
                <td>8000</td>
                <td>Serveur pour le club de sécurité</td>
            </tr>
            <tr>
                <td>ftp.cstjean.qc.ca</td>
                <td>21</td>
                <td>Accès aux fichier M P L R</td>
            </tr>
            <tr>
                <td>vpn.cstjean.qc.ca</td>
                <td></td>
                <td>Accès aux fichier M P L R</td>
            </tr>
        </tbody>
    </table>
